# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Eagle temporary files
*.*#*

# Temporary Files
*.swp
*.b#*
*.s#*
*.l#*
*.dia.autosave
*.bbl
*.blg
*.dvi
*.ent
*.lof
*.log
*.los
*.lot
*.toc
*.log
*.aux
tmp/*
*tags

# Ignore images
*.elf
*.pc
*.hex
